<div class="line">
    <div class="line-item position-change">{{positionChange}}</div>
    <div class="line-item position-number">{{positionNumber}}</div>
    <div class="line-item team-number">{{teamNumberString}}</div>
    <div class="line-item event-emoji">{{eventEmoji}}</div>
    <div class="line-item hearts">{{lifeHearts}}</div>
    <div class="line-item team-score">Score: {{scoreTied}}{{score}}</div>
</div>
