/* var definitions */
:root {
  --item-margin: 3px;
}
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  width: 392px;
  /* margin: 0 auto; */
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 392px;
  background-color: #292d3e;

  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: white;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #cccccc;

  display: grid;
  grid-template-columns:
    [position-change] max-content
    [position-number] max-content
    [event-emoji] max-content
    [team-number] max-content
    [hearts] max-content
    [team-score] 1fr;
}
.line-group {
  margin: 0;
  padding: 8px;
  display: contents;
  grid-template-columns: inherit;
}
.line-group-title {
  grid-column-start: 1;
  grid-column-end: 7;
  margin-left: var(--item-margin);
  font-size: 24px;
}
.line {
  display: contents;
  grid-template-columns: inherit;
}
.line > .line-item {
  background-color: #3d435c;
  margin: 0px;
  padding: 0px 3px;
  line-height: 26px;
}
.line > .line-item:nth-child(1),
.line > .line-item:nth-last-child(1) {
  margin-left: var(--item-margin);
}
.line > .line-item:nth-last-child(1),
.line > .line-item:nth-last-child(2) {
  margin-right: var(--item-margin);
}
.line > .line-item:nth-last-child(1) {
  margin-bottom: var(--item-margin);
}
.line.highest-scoring > .line-item {
  background-color: #2d6b2b;
}
.line.lowest-scoring > .line-item {
  background-color: #bb5050;
}
/* .position-change {
  
}
.position-number {

}
.event-emoji {

}
.team-number {

}
.hearts {

}
.team-score {

} */
.line-item-sub-row {
  grid-column: 1 / 7;

  /* display: contents; */
  grid-template-columns: inherit;
}
.team-player-scores {
  font-size: 14px;
  line-height: 14px;
  color: #ddd;

  grid-column: 1/ 7;
  margin-left: calc(var(--item-margin) * 1);
  margin-bottom: var(--item-margin);

  /* display: grid;
  grid-template-columns: inherit */
}
.score-group {
  padding-right: 15px;
  display: inline-block;
}
.score-group > * {
  display: inline-block;
}
.player-name {
  padding-right: 4px;
}
/* .player-score {
  
} */
