html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid #0019fc; */
  width: 768px;

  margin: 0 auto;
  padding: 0;

  background-color: #000000;
}

.container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 768px;

  font-size: 16px;
  color: white;
  background-color: #292d3e;
  font-family: 'Bebas Neue', cursive;
  border: 2px solid #cccccc;

  display: grid;
  grid-template-columns:  [position-change] 15px 
                          [position-number] 15px 
                          [event-emoji] 30px 
                          [team-number] 60px 
                          [hearts] max-content  
                          [team-score] max-content
                          [team-players] max-content;

  grid-auto-columns: max-content;
}

.line-group {
  margin: 0;
  padding: 8px;
  /* border: 1px solid red; */

  display: contents;
  /* grid-column: 1 / 8; */
} 

.line-group-title {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  grid-column-start: 1;
  grid-column-end: 8;
}

.line {
  margin: 1;
  padding: 0;

  align-items: baseline;
  background-color: #3d435c;

  display: contents;
}

.line.highest-scoring {
  background-color: #89ba86;
}

.line.lowest-scoring {
  background-color: #baa386;
}

.line.just-eliminated {
  background-color: #ba8686;
}

.line-item {
  padding: 3px 6px;
}
/* 
.position-change {

}

.position-number {

}

.event-emoji {

}

.team-number {
}

.hearts {
}

.team-score {

} */

.team-players {
  font-size: 80%;
  color: #ddd;
}