<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylesheet.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="line-group">
        <div class="line-group-title">Alive</div>
        <div class="line highest-scoring">
          <div class="line-item position-change">⬇</div>
          <div class="line-item position-number">0.</div>
          <div class="line-item event-emoji">🌟</div>
          <div class="line-item team-number">Team 3</div>
          <div class="line-item hearts">🤎🤍🤍🤍🤍</div>
          <div class="line-item team-score">Score: 32963706</div>
          <div class="line-item line-item-sub-row">
            <div class="team-player-scores">
              <div class="score-group">
                <div class="player-name">Ronnie Mack:</div><div class="player-score">3201589352</div>
              </div>
              <div class="score-group">
                <div class="player-name">Don Long:</div><div class="player-score">1343040461</div>
              </div>
              <div class="score-group">
                <div class="player-name">Sue Vaughn:</div><div class="player-score">2597450889</div>
              </div>
              <div class="score-group">
                <div class="player-name">Olga Parks:</div><div class="player-score">2790257589</div>
              </div>
              <div class="score-group">
                <div class="player-name">Winifred Lee:</div><div class="player-score">934252888</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line-group">
        <div class="line-group-title">Eliminated</div>
        <div class="line">
          <div class="line-item position-change"> </div>
          <div class="line-item position-number">3.</div>
          <div class="line-item event-emoji"></div>
          <div class="line-item team-number">Team 1</div>
          <div class="line-item hearts">🤍🤍🤍</div>
          <div class="line-item team-score">Score: 18791978924185704107</div>
          <div class="line-item line-item-sub-row">
            <div class="team-player-scores">
              <div class="score-group">
                <div class="player-name">Catherine Griffith:</div><div class="player-score">2958706282</div>
              </div>
              <div class="score-group">
                <div class="player-name">Rena Cox:</div><div class="player-score">1279560815</div>
              </div>
              <div class="score-group">
                <div class="player-name">Maurice Tyler:</div><div class="player-score">133604099</div>
              </div>
              <div class="score-group">
                <div class="player-name">Rosetta Griffin:</div><div class="player-score">1085304574</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
              <div class="score-group">
                <div class="player-name">Marcus Holt:</div><div class="player-score">1113937138</div>
              </div>
            </div>
          </div>
        </div>
        <div class="line lowest-scoring">
          <div class="line-item position-change">⬆</div>
          <div class="line-item position-number">1.</div>
          <div class="line-item event-emoji">💀</div>
          <div class="line-item team-number">Team 2</div>
          <div class="line-item hearts">🤍</div>
          <div class="line-item team-score">Score: 37558432975</div>
          <div class="line-item line-item-sub-row">
            <div class="team-player-scores">
              <div class="score-group">
                <div class="player-name">Matthew Robertson:</div><div class="player-score">111402097</div>
              </div>
              <div class="score-group">
                <div class="player-name">Paul Higgins:</div><div class="player-score">743892089</div>
              </div>
              <div class="score-group">
                <div class="player-name">Rebecca Wheeler:</div><div class="player-score">1077691810</div>
              </div>
              <div class="score-group">
                <div class="player-name">Adam Mathis:</div><div class="player-score">1183367713</div>
              </div>
              <div class="score-group">
                <div class="player-name">Joshua Obrien:</div><div class="player-score">4021986011</div>
              </div>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="line-item position-change"> </div>
          <div class="line-item position-number">2.</div>
          <div class="line-item event-emoji"></div>
          <div class="line-item team-number">Team 4</div>
          <div class="line-item hearts">🤍🤍🤍🤍🤍</div>
          <div class="line-item team-score">Score: 2213417593004091673</div>
          <div class="line-item line-item-sub-row">
            <div class="team-player-scores">
              <div class="score-group">
                <div class="player-name">Jon Medina:</div><div class="player-score">2600095283</div>
              </div>
              <div class="score-group">
                <div class="player-name">Tony Pope:</div><div class="player-score">3990025222</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>