<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylesheet.css" type="text/css" />
  </head>
  <body>
    <div class="container">
        <div class="line-group">
          <p class="line-group-title">Alive</p>
            <div class="line highest-scoring">
                <div class="line-item position-change">⬇</div>
                <div class="line-item position-number">0.</div>
                <div class="line-item event-emoji">🌟</div>
                <div class="line-item team-number">Team 3</div>
                <div class="line-item hearts">🤎🤍🤍🤍🤍</div>
                <div class="line-item team-score">Score: 800</div>
                <div class="line-item team-players">Alex, Bob</div>
            </div>
        </div>
        <div class="line-group">
          <p class="line-group-title">Eliminated</p>
            <div class="line lowest-scoring" style="background-color: black">
                <div class="line-item position-change"> </div>
                <div class="line-item position-number">3.</div>
                <div class="line-item event-emoji"></div>
                <div class="line-item team-number">Team 1</div>
                <div class="line-item hearts">🤍🤍🤍</div>
                <div class="line-item team-score">Score: 0</div>
                <div class="line-item team-players">Alex, Bob, Alex, Bob, Alex, Bob, Alex, Bob, Alex, Bob, Alex, Bob, </div>
            </div>
            <div class="line just-eliminated">
                <div class="line-item position-change">⬆</div>
                <div class="line-item position-number">1.</div>
                <div class="line-item event-emoji">💀</div>
                <div class="line-item team-number">Team 2</div>
                <div class="line-item hearts">🤍</div>
                <div class="line-item team-score">Score: 200</div>
                <div class="line-item team-players">Alex, Bob</div>
            </div>
            <div class="line">
                <div class="line-item position-change"> </div>
                <div class="line-item position-number">2.</div>
                <div class="line-item event-emoji"></div>
                <div class="line-item team-number">Team 4</div>
                <div class="line-item hearts">🤍🤍🤍🤍🤍</div>
                <div class="line-item team-score">Score: 0</div>
                <div class="line-item team-players">Alex, Bob</div>
            </div>
        </div>

    </div>
  </body>
</html>