<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <style type="text/css">
      {{> stylesheet}}
    </style>
  </head>
  <body>
    <div class="container">
    {{#lines}}
        <div class="line-group">
          <p class="line-group-title">Alive</p>
          {{#alive}}
            {{>leaderboardLine}}
          {{/alive}}
        </div>
        <div class="line-group">
          <p class="line-group-title">Eliminated</p>
          {{#eliminated}}
            {{>leaderboardLine}}
          {{/eliminated}}
        </div>
    {{/lines}}

    </div>
  </body>
</html>
