<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <style type="text/css">
      {{> stylesheet}}
    </style>
  </head>
  <body>
    <div class="container">
      {{#lines}}
        {{#alive}}
          {{>leaderboardLine}}
        {{/alive}}
        {{#eliminated}}
          {{>leaderboardLine}}
        {{/eliminated}}
      {{/lines}}
    </div>
    <div class="container">
    {{#lines}}
      {{#alive}}
        <div class="line-group">
          <p class="line-group-title">Alive</p>
          {{>leaderboardLine}}
        </div>
      {{/alive}}
      {{#eliminated}}
        <div class="line-group">
          <p class="line-group-title">Eliminated</p>
          {{>leaderboardLine}}
        </div>
      {{/eliminated}}
    </div>
  </body>
</html>
